# Dependencies
node_modules/

# Build output
dist/

# Environment - JANGAN PERNAH PUSH KE GIT!
.env
firebase-service-account.json

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# TypeScript
*.tsbuildinfo
